body, #rightSide#leftside {
    background: #2068af;
    color:white;
}

.container {
    width: 100%;
    max-width: none;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-sm-12{
    flex: 0 auto;
}

.col-sm-4 {
    flex: 0 auto;
    max-width: 50%;
    padding-bottom: 5px;
}

#game-level:disabled{
   opacity: 1;
   color: #FFD662FF;
   border-color:#FFD662FF;
}

#header {
    text-align: center;
    margin: 4% 4% .5% 4%;
    border-bottom: 4px dotted rgba(76, 0, 130, 0.664);
}

#header h3 {
    font-weight: bolder;
    color: #FFD662FF;
}

div>#leftSide, div>#rightSide {
    margin: 1.3%;
    position: absolute;
    width: 97.5%;
    border: 1px solid black; 
}

img {
    position: absolute;
    max-height: 15%;
}

#rightSide {
    top: 64%;
    margin: none;
}

#leftSide {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 7px #000000;
}
